* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body,html{
    width: 100%;
  background: white ;
    font-size: 16px;
    color: #222222;
}
.wrap {
    width: 80%;
 /* flex-direction: column; */
    margin: 0 auto;
 background: white ;
 display: flex ;
 flex-wrap: wrap;
 align-items: flex-end;
 justify-content: center;

 /* when display: flex then autmaticaly horzontal or vatical staying of flex item 
 flex is use in one dimional way and not use two or anohter dimition way
 */

}
/* .wrap::after{
    content: "";
    general css uses when item is vertacally and horzortally 

    display: block;
    clear: both;
} */

.box {
    height: 100px;
    width: 100px;
    /* flex-grow: 1; */
    /* flex-grow: 1 is automacally distance every flex item; */
    min-width: 100px;
   
     

}

.one {
    background: salmon;
   text-align: justify;
   flex-grow: 3;
   flex-basis: 300px;
   flex-shrink: 1;

}
.two {
    background: palegreen;
flex-grow: 2;
flex-basis: 200px;
flex-shrink: 1;
}
.three {
    background: skyblue;
    flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 1;

}
.four {
    background: fuchsia;
    flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 1;
}
/* flex: 1   1 300px;
we can use flex it. first is flex-grow. second is flex-shirnk, third is flex-basis
*/















